<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/estilo/cadastroSucesso.css" />
    <link rel="shortcut icon" href="../assets/images/favicon/bag-icon-2.svg" type="image/x-icon">
    <title>Document</title>
  </head>
  <body>
    <main>
      <img src="../assets/images/icons/check-icon.svg" alt="" />
      <div class="text">
        <h1>Parabéns</h1>
        <p>Seu endereço já está em nosso sistema</p>
      </div>
      <a href="../views/minhaConta.php">Ok</a>
    </main>
  </body>
</html>
