<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/estilo/enderecoFalha.css" />
    <link rel="shortcut icon" href="../assets/images/favicon/bag-icon-2.svg" type="image/x-icon">
    <title>Document</title>
  </head>
  <body>
    <main>
      <img src="../assets/images/icons/search-icon.svg" alt="" />
      <div class="text">
        <h1>Oops</h1>
        <p>Erro ao inserir ao endereço, tente novamente</p>
      </div>
      <div class="inline">
        <a href="../views/novoEndereco.php">OK</a>
      </div>
    </main>
  </body>
</html>
