<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/estilo/recuperacao_solicitada.css">
    <link rel="shortcut icon" href="../assets/images/favicon/bag-icon-2.svg" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <header>
            <img src="../assets/images/icons/check-icon.svg" alt="">
            <div class="titulo">
                <h1>Enviamos um link de recuperação para o seu email</h1>
                <p>Cheque sua caixa de entrada.</p>
            </div>
        </header>
        <a href="../views/login.html">Login</a>
    </main>
</body>
</html>