@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #090D59;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem;
}

.container {
    background-color: #f7f7fa;
    width: 40vw;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.head {
    width: 25vw;
    text-align: center;
    margin: 2rem 0;
}

.head h1 {
    margin-bottom: 0.25rem;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-box label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.input-box input {
    background-color: #E8E8EB;
    padding: 0.8rem 1.2rem;
    width: 350px;
    border: 1px solid #A4A4A6;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.input-box input:hover {
    border: 1px solid #151B8C;
    box-shadow: 0px 0px 2px #8A8EE5;
}

.input-box input:focus-visible {
    outline: 1px solid #151B8C;
}

.input-categoria {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-categoria label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.input-categoria select {
    background-color: #E8E8EB;
    border: 1px solid #A4A4A6;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
}

.input-categoria select:hover {
    border: 1px solid #151B8C;
    box-shadow: 0px 0px 2px #8A8EE5;
}

.input-categoria select:focus-visible {
    outline: 1px solid #151B8C;
}

.input-colecao {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.input-colecao label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.input-colecao-item label {
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 2rem;
    background-color: #010440;
    color: #f7f7fa;
    font-weight: 600;
}