@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.menus {
    display: flex;
    flex-direction: column;
}

.menu {
    background: #010440;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 0.875rem;
    font-weight: 500;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5%;
}

.add {
    margin-left: 3px;
}

/* Menu Lateral */
.adm-icon {
    width: 50px;
    height: 50px;
}

.icon {
    height: 30px;
    width: 30px;
}

#sidebar {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E8E9F5;
    height: 100vh;
    position: relative;
    transition: all .5s;
    min-width: 82px;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #CCCDF0;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #CCCDF0;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    width: 15%;
    min-width: 200px;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/* Estilo para que não quebre tudo nas outras páginas */
.main-container {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

@media (max-width: 760px) {
    .add {
        display: none;
    }
}

@media (max-width: 560px) {
    .novo-admin {
        display: none;
    }
    .marca-img {
        width: 90%;
        min-width: 200px;
    }
    .sair-img {
        width: 90%;
        min-width: 32px;
    }
}

/* Painel Administrativo */

.head {
    margin-bottom: 6rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin: 1rem;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-input {
    background-color: #F7F7FA;
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    min-width: 200px;
    padding: 0.8rem 3rem 0.8rem 1.2rem;
    border-radius: 8px;
    border: 1px solid #BDBDBF;
    font-size: 0.875rem;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 16px; 
    transform: translateY(-50%);
    width: 28px; 
    height: 28px;
}

.table-container {
    width: auto; 
}

.table {
    table-layout: auto;
    min-width: 800px;
}

table, th, td {
    border: 1px solid #A4A4A6;
    border-collapse: collapse;
}

tr:hover {
    background-color: #F2F2F5;
}

.table-tile, .table-content {
    text-align: start;
}

.table-title {
    background-color: #010440;
    padding: 0.75rem;
    color: #fff;
}

.table-content {
    text-align: center;
    padding: 0.25rem 1rem;
}

.align {
    text-align: start;
}

.crud-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.crud-btn img {
    width: 24px;
    transition: transform 0.2s;
}

.crud-btn img:hover {
    transform: scale(1.15);
}

@media (max-width: 1200px) {
    .table {
        width: 67vw;
    }
}

/* Painel Administrativo - Página Produtos*/

#product-table {
    width: 1100px;
}

.input-group {
    width: 1412px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    gap: 1rem;
}

.crud-link {
    text-decoration: none;
    color: #F7F7FA;
    background-color: #010440;
    padding: 0.65rem 1.35rem;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 8px;
}

@media (max-width: 1600px) {
    #product-table {
        min-width: none;
        width: 69vw;
    }
    .input-group {
        justify-content: space-between;
        width: 69vw;
    }
}

@media (max-width: 1180px) {
    .input-group {
        justify-content: center;
        gap: 10%;
    }
    .links a {
        display: flex;
        flex-wrap: wrap;
    }
    .crud-link {
        padding: 2.45% 15%;
    }

}