@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #090D59;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.container {
    margin-top: 2rem;
    background-color: #f7f7fa;
    width: 50vw;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 2rem 4rem;
}

#id-pedido {
    width: 100%;
    text-align: start;
    margin: 1rem 0;
    font-size: 2rem;
    color: #333;
}

.dados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.dados-pedido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dados-pedido-head {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dados-pedido-head h2 {
    color: #4C4C4C;
    font-size: 0.875rem;
}

.dados-entrega {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.itens {
    font-size: 0.875rem;
    background-color: #E8E8EB;
    border: 1px solid #A4A4A6;
    border-radius: 8px;   
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

span {
    font-weight: 600;
}

.itens-pedido {
    width: 100%;
}

.itens-pedido h2 {
    color: #4C4C4C;
    font-size: 0.875rem;
    margin: 0.5rem 0;
}

/* Estilização da tabela de itens do pedido */
.tabela-itens-pedido {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-itens-pedido th, .tabela-itens-pedido td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabela-itens-pedido th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

.tabela-itens-pedido td {
    background-color: #f9f9f9;
    color: #555;
    font-size: 0.95rem;
}

.tabela-itens-pedido tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.tabela-itens-pedido tr:hover td {
    background-color: #e0e0e0;
}

.total-pedido {
    margin-top: 10px;
    margin-bottom: 1rem;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
