@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #090d59;
  font-family: montserrat;
}

main {
  width: 45vw;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: #f2f2fa;
  border-radius: 8px;
  padding: 4rem;
}

img {
  margin-top: 5%;
  width: 25%;
  min-width: 100px;
}

.text {
  text-align: center;
}

.text h1 {
  margin: 1rem;
}

.text p {
  margin-bottom: 4rem;
  font-weight: 400;
}
.inline {
  display: inline;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #010440;
  font-weight: 600;
  background: #f2f2fa;
  border: 1px solid #010440;
  border-radius: 8px;
  padding: 0.75rem 4.5rem;
  margin-bottom: 2.5%;
}

@media (max-width: 1200px) {
  .text h1 {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  main {
    min-width: 60vw;
  }
  .text h1 {
    font-size: 1.75rem;
  }
  .text p {
    font-size: 0.9rem;
  }
  a {
    font-size: 0.9rem;
    padding: 0.75rem 3rem;
  }
}

@media (max-width: 600px) {
  main {
    gap: 1rem;
  }
  .text h1 {
    font-size: 1.5rem;
  }
  .text p {
    font-size: 0.75rem;
  }
  a {
    font-size: 0.75rem;
    padding: 0.75rem 2rem;
  }
}
