@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #F7F7FA;
    font-family: 'Montserrat', sans-serif;
}

section {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
}

button {
    all: unset;
    cursor: pointer;
    padding: none;
    border: none; /* Adicione uma borda se necessário */
    border-radius: none; /* Adicione bordas arredondadas se desejado */
    background-color: none; /* Adicione uma cor de fundo se necessário */
    color: none; /* Adicione uma cor de texto se necessário */
}

.produtos {
    margin: 3% 0;
    width: 70vw;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    gap: 1.75rem;
}

.produto {
    padding: 5%;
    background: #E8E8EB;
    border-radius: 8px;
    max-width: 300px;
    transition: 0.3s ease;
}

.produto:hover {
    transform: scale(1.04); /* Aumenta o card ao passar o mouse */
}

.produto img {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
    border-radius: 8px;
    margin-bottom: 0.25rem;
}

.titulo-produto {
    font-size: 1.05rem;
    font-weight: 600;
    color: #4C4C4C;
    margin-bottom: 1.1rem;
}

.preco-produto {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1B22B2;
    margin-bottom: 0.25rem;
}

.parcela {
    font-size: 0.625rem;
    font-weight: 600;
    color: #656566;
}

.parcela span {
    color: #3F3F40;
}

@media (max-width: 1700px) {
    .produtos {
        width: 80%;
    }
}

@media (max-width: 1650px) {
    .produtos {
        width: 82.5%;
    }
}


@media (max-width: 1600px) {
    .produtos {
        width: 85%;
    }
}

@media (max-width: 1550px) {
    .produtos {
        width: 87.5%;
    }
}

@media (max-width: 1500px) {
    .produtos {
        width: 90%;
    }
}

@media (max-width: 1450px) {
    .produtos {
        width: 92.5%;
    }
}

@media (max-width: 1375px) {
    .produtos {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1150px) {
    .produtos {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .produtos {
        width: 87.5%;
    }
}

@media (max-width: 1050px) {
    .produtos {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .produtos {
        width: 75%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .produtos {
        width: 80%;
    }
}

@media (max-width: 750px) {
    .produtos {
        width: 85%;
    }
}

@media (max-width: 700px) {
    .produtos {
        width: 90%;
    }
}