@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #090D59;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    width: 30vw;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f2fa;
    border-radius: 8px;
    padding: 2rem;
    gap: 15%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

header p {
    text-align: center;
    font-size: 0.95rem;
    max-width: 90%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.input-box label {
    font-size: 1.1rem;
    font-weight: 700;
}

.input-box input {
    padding: 0.8rem 1.2rem;
    width: 20vw;
    height: 5vh;
    border: 1px solid #989EA6;
    border-radius: 8px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.button button {
    background: linear-gradient(#030AA6, #0A0E72, #101240);
    color: #f2f2fa;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 3rem;
    cursor: pointer;
}