@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;   
}

body {
    flex: 1;
}

.rodape {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #010226;
    color: #F7F7FA;
    margin-top: auto; /* Força o rodapé a ficar no fim */
}

.rodape ul {
    list-style: none;
}

.rodape a {
    text-decoration: none;
    color: #F7F7FA;
}

.rodape a:hover {
    text-decoration: underline;
}

.corpo-rodape {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin: 60px;
}

.list {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list li {
    font-size: 0.85rem;
    font-weight: 500;
}

.endereco p {
    font-size: 0.8rem;
}

.footer-rodape {
    display: flex;
    flex-direction: column;
}

.footer-rodape img {
    width: 80vw;
    height: 3px;
}

.politica-e-termos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 10px 0;
}

.politica-e-termos p {
    font-size: 0.85rem;
    font-weight: 600;
}
   
@media (max-width: 1200px) {
    .corpo-rodape {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    h2 {
        font-size: 1rem;
    }
    .corpo-rodape {
        gap: 2%;
        margin: 40px 20px;
    }
    .endereco p {
        font-size: 0.7rem;
    }
    .politica-e-termos p {
        font-size: 0.75rem;
    }
}